<div class="grid-container">
  <div class="item1">
    <div>
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #ff0000"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img
              src="https://static.vecteezy.com/system/resources/previews/009/636/865/original/popcorn-3d-illustration-icon-png.png"
              alt=""
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            Cinexceso
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/"
                >Inicio</a
              >
              <a class="nav-link" href="/peliculas">Peliculas</a>
              <a class="nav-link" href="/boletos">Boletos</a>
              <a class="nav-link" href="/noticias">Noticias</a>
              <a class="nav-link" href="/nosotros">Nosotros</a>
              <a class="nav-link" href="/crearNoticia">Añadir noticia</a>

              <br>
              <a class="nav-link" href="/">Log in</a>
              <a class="nav-link" href="/users/logout">Log out</a>
            </div>
          </div>
        </div>
      </nav>